* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #E5E5E5;
}

#logo { /* # para identificador*/
  width: 120px;
  height: 48px;
  margin: 24px;
  margin-left: 40px;
  margin-top: 40px;
}

.text {
  width: 312px;
  height: 600px;
  margin-top: 100px;
  margin-left: 600px; 
  color: darkblue;
}

.save {
  background-color: darkblue;
  border-radius: 24px;
  border-style: 32px 67px;
  float: left;
  font-size: 16px;
  width: 328px;
  height: 67px;
  color: white;
  border-color: #0A3871;
  font-weight: bold;
} 

textarea[placeholder="Digite uma palavra ou frase"] { /*Seletores CSS - Seleção por atributo*/
  font-size: 32px;
  font-family: 'Inter', sans-serif;
}

::placeholder {
  color: darkblue;
}
.cancel {
  background-color: #D8DFE8;
  border-radius: 24px;
  border-style: 32px 67px;
  margin-left: 342px;
  margin-top: -66px;
  float: left;
  font-size: 16px;
  width: 328px;
  height: 67px;
  color:#0A3871;
  border-color: #0A3871;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin-right: 68px;
}

p {
  font-size: 16px;
  color: gray;
  text-align: center;
  margin-right: 68px;
  margin-top: 24px;
}

#parag {
  font-size: 16px;
  text-align: left;
  margin-left: 32px;
  margin-top: -28px;

}

#infor {
  width: 32px;
  height: 32px;

}

textarea {
  background: none;
  border: none;
  background-color: transparent;
  outline: none;
}

ul {
  padding-left: 144px;
  padding-right: 124px;
  list-style: none; /**tirar as bolinhas **/
  display: flex;
  gap: 1.45rem;/** Espaço entre os icones**/ 

}

.image-footer {
  width: 24px;
}

.ref {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 18px;
  margin-top: 25px;

  border-style:groove;
  margin-left: -5px;
  padding-right: 712px;
  background-color: white;
}

footer {
  margin-top: 12px;
  margin-left: 750px;
  text-align: center;
}

